<%= form_for(@appartment) do |f| %>
  <% if @appartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appartment.errors.count, "error") %> prohibited this appartment from being saved:</h2>

      <ul>
      <% @appartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appartment_type %><br>
    <%= f.text_field :appartment_type %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :rent %><br>
    <%= f.number_field :rent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
